* {
  background-color: #131515;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.conteneur-liens a {
  text-decoration: none;
  color: #7de2d1;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  padding-right: 2rem;
}
.conteneur-liens {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}
header {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #7de2d1;
  font-size: 4rem;
  margin: 10rem;
  padding-left: 50rem;
  display: grid;
  justify-items: center;
}
